@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@media (prefers-reduced-motion: reduce) {
		html:focus-within {
			scroll-behavior: auto;
		}

		*,
		*::before,
		*::after {
			-webkit-animation-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			-webkit-animation-iteration-count: 1 !important;
			animation-iteration-count: 1 !important;
			-webkit-transition-duration: 0.01ms !important;
			-o-transition-duration: 0.01ms !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}
}
